<p>Tous les portfolios :</p>
<ul>
    <% @portfolios.each do |portfolio| %>
        <li>
            <%= link_to portfolio.title, portfolio_path(portfolio) %>
            <%= link_to 'New Reservation', new_portfolio_booking_path(portfolio) %>
                <%= link_to 'Voir les Réservations', portfolio_bookings_path(portfolio) %> <!-- Lien vers la liste des réservations -->

        </li>
    <% end %>
</ul>
<%= link_to "Add a portfolio", new_portfolio_path , class: "btn btn-primary" %>
