.avatar, .avatar-large, .avatar-bordered {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover; /* Permet de ne pas étirer l'image et de garder le centre */
  object-position: center; /* Centre l'image dans le cercle */
}

.avatar-large {
  width: 56px;
  height: 56px;
}

.avatar-bordered {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  height: 40px;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}
